#final_grade {
    padding: 0.5rem;
    border-radius: 8px;
}
#calculateForm {
    background-color: green;
    color: white;
    border-color: transparent;
    transition: all .3s;
}
#calculateForm:hover {
    background-color: greenyellow;
    color: black;
}