{% extends "layout.html" %} 
{% block content %}
<style>
    form div {
        margin: 20px;
    }

    form div label {
        display: block;
        margin-bottom: 5px;
    }
</style>
    <div>
        Calculate final exam grade needed based on current grade and target grade:
    </div>
    <div>
        <form id="gradeForm" action="/calculate" method="POST">
            <div>
                <label for="current_grade">Current grade:</label>
                <input type="number" id="current_grade" name="current_grade" value="" step="0.01" required>
                %
            </div>
            <div>
                <label for="target_grade">Target grade:</label>
                <input type="number" id="target_grade" name="target_grade" value="" step="0.01" required>
                %
            </div>
            <div>
                <label for="final_weight">Final exam weight:</label>
                <input type="number" id="final_weight" name="final_weight" value="" step="0.01" required>
                %
            </div>

            <div>
                <button id="calculateForm" type="submit" style="outline: 1px solid black; padding: 5px;">Calculate</button>
            </div>
        </form>
        <div>
            <h1 id="final_grade">Final exam grade needed: </h1>
        </div>
    </div>

<script>

document.getElementById('gradeForm').addEventListener('submit', function(evt) {
    evt.preventDefault();

    const currentGrade = document.getElementById('current_grade')
    const targetGrade = document.getElementById('target_grade')
    const finalWeight = document.getElementById('final_weight')

    fetch("/calculate", {
        method: "POST",
        body: JSON.stringify({
            current_grade: currentGrade.value,
            target_grade: targetGrade.value,
            final_weight: finalWeight.value
        }),
    })
    .then(response => {
        // Handle the response here
        if (response.ok) {
            return response.json()
        }
        throw new Error("Failed to calculate final grade");
    })
    .then(data => {
        // Handle the JSON data here
        console.log(data);
        document.getElementById("final_grade").innerText = `Final exam grade needed: ${data.final_grade}%`;
    })
    .catch(error => {
        console.error(error);
    })
})
</script>

{% endblock %}
