<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <aside>
        <div>
            <h1>GPA Calculator</h1>
            <nav>
                <ul id="navList">
                    <li data-target="add" class="{{ 'active' if request.path == '/add' else '' }}"><a href="/add">Add</a></li>
                    <li data-target="view_all" class="{{ 'active' if request.path == '/view_all' else '' }}"><a href="/view_all">View All Grades</a></li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="w3-container" style="padding: 70px 16px; margin-left: 220px;">
        {% block content %} {% endblock %}
    </div>
</body>
</html>