<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- add link for calculate.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calculate.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <aside>
        <div>
            <h1 class="text-3xl font-bold"><a href="/">GPA Calculator</a></h1>
            <nav>
                <ul id="navList">
                    <li data-target="add" class="{{ 'active' if request.path == '/add_grade' else '' }}"><a href="/add_grade">Add Course Grade</a></li>
                    <li data-target="view_all" class="{{ 'active' if request.path == '/view_grades' else '' }}"><a href="/view_grades">View All Grades</a></li>
                    <li data-target="view_all" class="{{ 'active' if request.path == '/calculate' else '' }}"><a href="/calculate">Calculate Final Grade</a></li>
                </ul>
            </nav>
        </div>
    </aside>
    <section id="content">
        <header class="flex justify-between items-center py-4">
            <h1 class="text-2xl font-bold">{{ section }}</h1>
        </header>
            {% block content %} {% endblock %}
    </section>
   
</body>
</html>